.container-section {
    width: 100%;
    height: 70vh;
    padding-inline: 18%;
}

.btn-social-media {
    width: 235px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(92deg, #9B79FC 2.07%, rgba(255, 255, 255, 0.25) 160.82%);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.text-content{
    color: white;
    font-weight: bold;
}