.container-section {
    width: 100%;
    height: 100vh;
    padding-inline: 14%;
}

.flex-centralizer{
    justify-content: center;
    align-items: center;
}

.btn {
    width: 245px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(92deg, #9B79FC 2.07%, rgba(255, 255, 255, 0.25) 160.82%);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
}

.text-content{
    color: white;
    font-weight: bold;
    font-size: 30px;
}